.item-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  color: var(--background-light-gray-f);
  flex: 2;
  transition: transform 0.5s ease-in-out;
}

.item-list.minimzed {
  transform: translateX(-100);
}

.item {
  border-bottom: 1px solid var(--background-light-gray-p);
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: var(--background-light-gray-f);
    color: var(--primary-deep-blue);
  }
}
