.dashboard-layout {
  flex: 1 0;
  width: 100%;
  background-color: var(--background-soft-white);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: flex-basis 0.3s ease;
}

.dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.dashboard-components {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
  position: relative;
}

.title {
  margin: 0 25px;
  padding: 20px 0;
  border-bottom: 2px solid var(--background-light-gray-f);
  z-index: 99;
}

.loader {
  animation: spin 1s linear infinite;
}

.center {
  position: absolute;
  z-index: 999;
  top: -55px;
  right: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
