.dashboard-layout {
  flex: 1 0;
  width: 100%;
  background-color: var(--background-soft-white);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: flex-basis 0.3s ease;
}
.dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid var(--background-light-gray-f);
    z-index: 99;
    font-size: 0.75rem;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: 0px solid;
      background-color: var(--primary-light-navy);
      box-shadow: 0px 0px 2px 0.5px;
      padding: 5px;
      margin-right: 10px;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 1px var(--primary-cool-gray);
      }
      transition: 0.2s all ease;
    }
  }
}

.dashboard-components {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 20px;
  /* padding: 25px; */
  margin: 10px 25px;
  position: relative;
  max-width: 100%;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  > h1 {
    padding: 20px 25px 0px 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
  }
}

.loader {
  animation: spin 1s linear infinite;
}
.center {
  position: absolute;
  z-index: 999;
  top: -35px;
  right: 50px;
}

.dashboard-flex {
  margin: 0;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-cards {
  max-width: 100%;
  padding: 0px 35px 0px 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;

  .card:nth-child(1) {
    padding: 10px;
    width: 100%;
  }
  .card:nth-child(2) {
    padding: 10px;
    width: 100%;
  }
  .card:nth-child(3) {
    padding: 10px;
    width: 100%;
  }
  .card:nth-child(4) {
    padding: 10px;
    width: 100%;
  }
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-card {
  padding: 20px;
  background-color: var(--background-light-white-p);
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.563);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  form {
    height: 100%;
    width: 100%;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      input {
        outline: none;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 0 1px 0;
        padding: 5px 15px;
        font-family: Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      select {
        outline: none;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 0 1px 0;
        padding: 5px 15px;
        font-family: Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 700;
      }
    }
    button {
      margin: 15px 0px;
      outline: none;
      border: 0;
      box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.325);
      padding: 15px 30px;
      border-radius: 3px;
      font-family: Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      &:hover {
        box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.586);
        background-color: rgba(0, 255, 255, 0.207);
      }
      transition: 0.5s all ease;
    }
  }
  .price-region {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all ease;
    margin: 50px;
    border-radius: 15px;
    background-color: rgba(244, 244, 244, 0.456);
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 1s all ease;
      width: 100%;
      h3 {
        padding: 0 12px;
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .dashboard-components {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .form-card {
    grid-template-columns: 1fr;
  }
  .section .main-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .dashboard-components {
    grid-template-columns: 1fr;
  }
}
