
:root {
  --background-soft-white: #f7f9fc;
  --background-light-gray-f: #e0e0e0;
  --background-light-white-p: #ffffff;
  --primary-cool-gray: #a9a9a9; /* Guessed from your hover effect */
  --text-dark: #2c3e50;
}

.forecasting-layout {
  flex: 1 0;
  width: 100%;
  background-color: var(--background-soft-white);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.forecasting-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.forecasting-title {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  padding: 10px 0;
  border-bottom: 2px solid var(--background-light-gray-f);
  color: var(--text-dark);
  font-weight: 600;
}

.forecasting-components {
  display: grid;
  gap: 20px;
  margin: 20px 25px;
  position: relative;
  max-width: 100%;
}

.form-card, .chart-card {
  padding: 25px;
  background-color: var(--background-light-white-p);
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.563);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-card form {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Spacing between form items */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group label {
  font-size: 1rem;
  font-weight: 400;
  color: #2C3E50;
}

.form-group select {
  outline: none;
  border: 0;
  box-shadow: 0 0 1px 0;
  padding: 8px 15px;
  font-family: 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  min-width: 220px;
  cursor: pointer;
  background-color: #2C3E50;
  color: #ffffff;
}

.form-card button {
  padding: 10px 30px;
  font-family: 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  background-color: transparent; 
  border: 2px solid #2C3E50; 
  color: #2C3E50;
}

.form-card button &: hover {
  background-color: #2C3E50; 
  color: #ffffff; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-card button:disabled {
  background-color: #f0f0f0;
  border-color: #2C3E50;
  border: 1px solid #2C3E50;
  color: #66717c; 
  cursor: not-allowed;
  transform: none; 
  box-shadow: none;
}
.chart-wrapper {
  position: relative;
  height: 450px;
  width: 100%;
}

.status-message, .error-message {
  padding: 40px 20px;
  text-align: center;
  font-size: 1.1rem;
  color: #6c757d;
}

.error-message {
  color: #e74c3c;
  font-weight: 500;
}