.piechart-content {
<<<<<<< HEAD
  margin: 0 auto;
  width: 550px;
  height: 400px;
  display: block;
}

@media (max-width: 500px) {
  .piechart-content {
    width: 350px;
    height: 233px;
  }
=======
  margin: 0;
  padding: 10px;
>>>>>>> 6bb4543 (2 - Added and Stylized New Components (Sidebar, Menu, Charts, etc..))
}
