.table-card {
  max-height: 360px;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 6bb4543 (2 - Added and Stylized New Components (Sidebar, Menu, Charts, etc..))
  overflow-y: auto;
  border: 1px solid;
  margin: 5px 0;
}

table {
  width: 100%;
  padding: 20px 0;
  border-collapse: collapse;
  th {
    background-color: var(--primary-deep-blue);
    color: var(--background-light-white-p);
    padding: 5px;
  }

  td {
    padding: 10px 30px;
    text-align: center;
    border-bottom: 1px solid var(--primary-deep-blue);
  }
}
<<<<<<< HEAD

@media (max-width: 650px) {
  .table-card {
    width: 96%;
  }
}
=======
>>>>>>> 6bb4543 (2 - Added and Stylized New Components (Sidebar, Menu, Charts, etc..))
