.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 5px 20px 8px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;

  h1 {
    font-size: 1.4rem;
    color: var(--background-light-gray-f);
    padding-right: 15px;
    &:hover {
      cursor: pointer;
      color: var(--secondary-amber-gold);
    }
  }

  img {
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
  }
  transition: all 0.3s ease-in-out;
}

.name.minimized h1 {
  opacity: 0;
  visibility: hidden;
}

.name.minimized img {
  position: relative;
}
